#include <winres.h>

//Executable icon
IDI_ICON1 ICON "C:/Users/greenlaser/Documents/_cpp/Elypso-hub/files/icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL //Allow to use all 6 FILEFLAGS types
 
 //0x01L - Debug build
 //0x02L - PreRelease build
 //0x20L - Special branch build
 //0x00L - Clean Release build
 FILEFLAGS 0x01L
 
 //Windows 32-bit/64-bit DLL/exe, running on NT-class systems
 FILEOS 0x40004L  
 
 //0x1L - executable, 0x2 - dynamic-link library
 FILETYPE 0x1L
 
 //Usually 0x0L unless FILETYPE is a driver or font
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" //US English + Unicode
        BEGIN
			//Public fields
			VALUE "FileDescription",  "Elypso Hub"
			VALUE "FileVersion",      "1.0.0.0"
			VALUE "ProductName",      "Elypso Hub"
			VALUE "ProductVersion",   "1.0.0.0"
			VALUE "CompanyName",      "Lost Empire Entertainment"
			VALUE "LegalCopyright",   "(C) 2025 Lost Empire Entertainment"
			VALUE "LegalTrademarks",  "Trademark of Lost Empire Entertainment"
			VALUE "OriginalFilename", "Elypso Hub"
			
			//Private fields
			VALUE "InternalName",     "Elypso Hub"
			VALUE "Comments",         "Elypso Hub"
			VALUE "PrivateBuild",     "Elypso Hub"
			VALUE "SpecialBuild",     "Elypso Hub"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		//Defines language and codepage so that
		//Windows knows how to display the strings correctly
        VALUE "Translation", 0x0409, 1200
    END
END
